  body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    display: flex;
    align-items: center;
    justify-content:center ;
  }
  .show-btn{
    text-decoration: none;
    background: black;
    opacity:80%;
    padding: 20px 20px;
    margin: 40px 40px;
    font-size: 30px;
    font-weight: 500;
    color: #3498db;
    cursor: pointer;
  }
    